@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-wave {
  -webkit-animation: wave 2.5s ease-in-out infinite;
          animation: wave 2.5s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(14.0deg);
  }

  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }
}

.animate-wave {
  /* -webkit-animation: wave 2.5s ease-in-out infinite; */
  animation: wave 2.5s cubic-bezier(1, 0.1, 0.57, 1) infinite;
}